---
Language:        Cpp
BasedOnStyle:  LLVM

AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
BreakBeforeBinaryOperators: All
ColumnLimit:     120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DeriveLineEnding: false
IncludeIsMainRegex: '(_test)?$'
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
SpacesInContainerLiterals: false
